.delete {
  cursor: pointer;
  padding: .3rem .6rem;
  background-color: #ddd;
  border: 1px solid transparent;
  border-radius: .4rem;
  font-size: .875rem;
  font-family: var(--type-first);
  line-height: 1;
  transition: .1s;
}

.delete:hover,
.delete:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
}