* {
  box-sizing: border-box;
  margin: 0px;
}

:root {
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
}

body {
  padding-top: 4rem;
}

body, input, button {
  font-family: var(--type-first);
  font-size: 1rem;
  color: #333;
}

ul, li {
  list-style: none;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
